@media (min-width:991.98px) {
    .w-lg-50 {
        width: 50%!important;
    }
    .w-lg-75 {
        width: 75%!important;
    }
    .mw-sm-450 {
        max-width: 100%;
        width: 65%;
    }
    .w-lg-90 {
        width: 90%!important;
    }
}